<div ui-view>
  <div class="education-css">
    <header class="block" ng-cloak>
      <h1><span class="amsi-text cap">Education</span></h1>
      <p>Need information? Communability offers educational information and resources on topics and issues relevent to post secondary
        education and students with disabilities. Check out our podcasts, learning modules, and resource library.
      </p>
      <img class="section-icon" src="/Assets/Images/Home/section-icons/Education.svg" />
    </header>


    <section class="block">
      <img src="/Assets/Images/Education/mic.svg">
      <div>
        <h1><span class="amsi-text cap">Podcasts and Webinars</span></h1>
        <p>Our podcasts and webinars explore key topics and strategies to inform and help PSDNet community members. Watch our
          digital narrative series profiling students and graduates with disabilities and get inspired.</p>
        <a class="standard-button" ui-sref="education.podcasts-webinars"><span class="amsi-text cap">Browse Collection</span></a>
      </div>
    </section>

    <section class="block">
      <img src="/Assets/Images/Education/lego.svg">
      <div>
        <h1><span class="amsi-text cap">Learning Modules</span></h1>
        <p>Our e-learning modules are designed to increase user knowledge of a growing list of topics including mentoring and
          disability accommodation in post secondary education.</p>
        <a class="standard-button" ui-sref="education.learning-modules"><span class="amsi-text cap">Browse Modules</span></a>
      </div>
    </section>

    <section class="block">
      <img src="/Assets/Images/Education/book.svg">
      <div>
        <h1><span class="amsi-text cap">Resource Library</span></h1>
        <p>We searched the Internet to bring you the best information and resources about post- secondary education and disability.
          Search our library to find reports, tools, publications, key web links, and resource lists.</p>
        <a class="standard-button" ui-sref="education.library"><span class="amsi-text cap">Browse Library</span></a>
      </div>
    </section>
  </div>
</div>