<!-- library -->
<link rel="stylesheet" type="text/css" href="/CSS/module-container.css">

<div class="module-container-super">
  <nav class="module-container-nav">
    <h1 class="module-title"><span class="amsi-text">{{Module Title}}</span></h1>
    <ul>
      <li class="module-container-nav-item module-return">
        <a href="#/profile/mentorship" class="standard-button">
          <span class="amsi-text">Back to Modules</span>
        </a>
      </li>
      <li class="module-container-nav-item timeline-return">
        <a href="#/profile/timeline" class="standard-button">
          <span class="amsi-text">Back to Timeline</span>
        </a>
      </li>
      <li class="module-container-nav-item education-return">
        <a href="#/profile/mentorship" class="standard-button">
          <span class="amsi-text">Back to Education</span>
        </a>
      </li>
    </ul>
  </nav>
  <main class="module-container">
  </main>
</div>
