<header class="intro">
	<div></div>
	<img src="/Assets/Images/Signup/clipboard.svg">
	<h1><span class="amsi-text">Almost There!</span></h1>
	<!-- <h2><span class="amsi-text">Simply fill out the form below.</span></h2> -->
	<p>Thank you for your interest in the CommunAbility e-Mentorship Program. To complete the application process, fill out and submit the form below.</p>
	<h3><span class="amsi-text">Complete the sections below:</span></h3>
</header>

<div class="profile">
	<img src="/Assets/Images/profile-icon.svg">
	<h3><span class="amsi-text">{{userProfile.username || "No Display Name"}}</span></h3>
</div>
<!--<ul class="clearfix section-nav">
	<li>
		<a href="" ng-click="gotoAnchor('contact')">
			<img ng-show="contact.$invalid || contact.$pristine" src="/Assets/Images/Signup/tick_grey.svg"><img ng-show="contact.$valid && contact.$dirty"
				src="/Assets/Images/Signup/tick_color.svg">
			<div>
				<h1><span class="amsi-text">Section 1</span></h1>
				<span>Contact Information</span>
			</div>
		</a>
	</li>
	<li>
		<a href="" ng-click="gotoAnchor('background')">
			<img ng-show="background.$invalid || background.$pristine" src="/Assets/Images/Signup/tick_grey.svg"><img ng-show="background.$valid && background.$dirty"
				src="/Assets/Images/Signup/tick_color.svg">
			<div>
				<h1><span class="amsi-text">Section 2</span></h1>
				<span>Background Information</span>
			</div>
		</a>
	</li>
	<li>
		<a href="" ng-click="gotoAnchor('interest')">
			<img ng-show="interest.$invalid || interest.$pristine" src="/Assets/Images/Signup/tick_grey.svg"><img ng-show="interest.$valid && interest.$dirty"
				src="/Assets/Images/Signup/tick_color.svg">
			<div>
				<h1><span class="amsi-text">Section 3</span></h1>
				<span>Mentoring Interest</span>
			</div>
		</a>
	</li>
	<li>
		<a href="" ng-click="gotoAnchor('matching')">
			<img ng-show="matching.$invalid || matching.$pristine || profile.matchPreference==null || profile.disabilities.length==0"
				src="/Assets/Images/Signup/tick_grey.svg"><img ng-show="matching.$valid && contact.$dirty && profile.matchPreference && profile.disabilities.length"
				src="/Assets/Images/Signup/tick_color.svg">
			<div>
				<h1><span class="amsi-text">Section 4</span></h1>
				<span>Matching (Voluntary Information)</span>
			</div>
		</a>
	</li>
</ul>-->
