<!-- footer.html -->
<footer class="main-footer clearfix">
  <ul class="footer-nav clearfix">
    <li>
      <h1>About Us</h1>
      <ul>
        <li><a href="#/about">About CommunAbility</a></li>
        <li><a href="#/contact">Contact Us</a></li>
        <li><a href="#/faqs">FAQs</a></li>
        <li><a href="#/research" target="_blank">Research Information</a></li>
        <li><a href="#/terms-and-conditions" target="_blank">Terms and Conditions</a></li>
        <li><a href="#/privacy-policy" target="_blank">Privacy Policy</a></li>
      </ul>
    </li
    ><li>
      <h1>Mentorship</h1>
      <ul>
        <li><a href="#/mentorship">About the Program</a></li>
        <li><a href="#/signup/mentor-info">Become a Mentor</a></li>
        <li><a href="#/signup/mentee-info">Find a Mentor</a></li>
        <li><a href="#/mentorship-program-agreement" target="_blank">Program User Agreement</a></li>
      </ul>
    </li
    ><li>
      <h1>Education</h1>
      <ul>
        <li><a href="#/education/podcasts-webinars">Podcasts and Webinars</a></li>
        <li><a href="#/education/modules">Learning Modules</a></li>
        <li><a href="#/education/library">Resource Library</a></li>
      </ul>
    </li
    ><li>
      <h1>Community</h1>
      <ul>
        <li><a href="#/community/forums">Forums</a></li>
        <li><a href="#/community/narratives">Digital Narratives</a></li>
        <li><a href="#/community/profiles">Inspirational Profiles</a></li>
        <!-- <li><a href="#/signup/user">Become a Community Member</a></li> -->
      </ul>
    </li>
  </ul>
  <ul class="footer-social noselect">
    <li><a href="https://www.facebook.com/communability" aria-label="Follow on Facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#" aria-label="Follow on Youtube"><i class="fa fa-youtube"></i></a></li>
    <li><a href="#" aria-label="Follow on Instagram"><i class="fa fa-instagram"></i></a></li>
  </ul>
</footer>
