<!-- home.html -->
<div class="home-css">
  <!--Carousel-->
  <maincaro></maincaro>
  <!--END Carousel-->
  <section class="block">
    <div>
      <h1><span class="amsi-text cap">About</span></h1>
      <p>PSDNet is an online community for post-secondary education students with disabilities. We offer connection opportunities that foster community building and social support, mentoring experiences that empower students with disabilities and education and resources on a range of topics.</p>
      <a href="#/about" class="standard-button"><span class="amsi-text cap">Find Out More</span></a>
    </div>
    <img class="section-icon" ng-src="/Assets/Images/Home/section-icons/About.svg" />
  </section>


  <section class="block">
    <div>
      <h1><span class="amsi-text cap">Mentorship</span></h1>
      <p>Need help navigating the post-secondary education experience? Our e-mentorship program matches you with graduates with disabilities to get support and advice. Create a profile to get started!</p>
      <a href="#/mentorship" class="standard-button"><span class="amsi-text cap">Find Out More</span></a>
      <!-- <img class="section-icon" src="/Assets/Images/Home/section-icons/Mentorship-mobile.svg" /> -->
      <img class="section-icon" src="/Assets/Images/Home/section-icons/Mentorship.svg" />
    </div>
  </section>

  <section class="block">
    <div>
      <h1><span class="amsi-text cap">Education</span></h1>
      <p>Need information? PSDNet offers educational information and resources on topics and issues relevant to post secondary education and students with disabilities. Check out our learning modules, podcasts and the resource library.</p>
      <a href="#/education" class="standard-button"><span class="amsi-text cap">Find Out More</span></a>
    </div>
    <img class="section-icon" ng-src="/Assets/Images/Home/section-icons/Education.svg"/>
  </section>

  <section class="block">
    <div>
      <h1><span class="amsi-text cap">Community</span></h1>
      <p>Looking to connect with others with disabilities? PSDNet community forums bring postsecondary education students with disabilities together to share ideas, discuss common experiences, discover resources and solutions, and get support and advice.</p>
      <a href="#/community" class="standard-button"><span class="amsi-text cap">Find Out More</span></a>
    </div>
    <img class="section-icon" ng-src="/Assets/Images/Home/section-icons/Community.svg" />
  </section>

</div>