<link rel="stylesheet" type="text/css" href="/CSS/mentorship.css">
<style>
    .circlet {
        color: white;
        background-color: #00C7B1;
        padding: 10px 15px;
        display: inline-block;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        margin-bottom: 20px;
        -webkit-animation: spin 1s ease-out infinite;
        -moz-animation: spin 1s ease-out infinite;
        animation: spin 1s ease-out infinite;
        -webkit-animation-direction: alternate;
        /* Safari 4.0 - 8.0 */
        animation-direction: alternate;
    }
    
    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(30deg);
        }
    }
    
    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(30deg);
        }
    }
    
    @keyframes spin {
        100% {
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
        }
    }
    
    .alt {
        background-color: #004F71;
    }
    
    .alt h1 {
        color: white;
    }
</style>

<section class="block mentorship alt">
    <h1><span class="amsi-text cap">Under Construction</span></h1>
    <i class="fa fa-wrench fa-5x circlet" aria-hidden="true"></i>
    </article>
</section>