<div class="mentorship-css">
    <!--Carousel-->
    <maincaro></maincaro>
    <!--END Carousel-->

    <section class="block mentorship">
      <h1><span class="amsi-text cap">A Great Way to <br>Get the Mentorship <br>You Need</span></h1>
      <p>We believe that there is something powerful and empowering in individuals with disabilities supporting other individuals
        with disabilities. Our mentorship program serves post secondary education students with disabilities. Students have
        access to mentors who are university or college graduates with disabilities to support them to meet their goals.</p>
      <div>
        <article class="block">
          <div class="art-content">
            <img src="/Assets/Images/Mentorship/imac_yellow.svg">
            <div>
              <h2><span class="amsi-text cap">Online<br>Mentorship</span></h2>
              <p>Complete our mentorship program online with an easy-to-use timeline to help guide you along the way!</p>
              <button data-toggle="collapse" data-target="#art-one" aria-expanded="false" aria-controls="art-one" class="standard-button hollow"><span class="amsi-text cap">Find Out More</span></button>
            </div>
          </div>
          <div class="down-arrow-ind" aria-hidden="true"></div>
          <div class="ex-content collapse" id="art-one">
            <div class="ex-content-bar"></div>
            <div class="ex-content-content">
              <div>
                <div class="ex-point">
                  <img src="/Assets/Images/Mentorship/settings.svg"
                  ><div>
                    <h2><span class="amsi-text">A dashboard to keep you organized</span></h2>
                    <p>As a mentor or mentee, you’ll have access to your own dashboard loaded with all the tools and resources you‘ll
                      need for a successful mentorship experience.</p>
                  </div>
                </div
                ><div class="ex-point">
                  <img src="/Assets/Images/Mentorship/chart.svg"
                  ><div>
                    <h2><span class="amsi-text">Your own personal timeline</span></h2>
                    <p>Keep track of your mentorship journey with an easy-to-use timeline to track your progress, activities and
                      meetings with your mentor or mentee.</p>
                  </div>
                </div
                ><div class="ex-point">
                  <img src="/Assets/Images/Mentorship/rocket.svg"
                  ><div>
                    <h2><span class="amsi-text">Step-by-step stages to guide you</span></h2>
                    <p>Your timeline includes the stages of the program so you’ll know exactly what activities are recommended at
                      each stage of the mentorship cycle.</p>
                  </div>
                </div>
                <div class="up-arrow-ind" aria-hidden="true"></div>
              </div>
              <button data-toggle="collapse" data-target="#art-one" aria-expanded="false" aria-controls="art-one" class="standard-button hollow"><span class="amsi-text cap">View Less</span></button>
            </div>
          </div>
        </article
        ><article class="block">
          <div class="art-content">
            <img src="/Assets/Images/Mentorship/cal_teal.svg">
            <div>
              <h2><span class="amsi-text cap">Schedule<br>Appointments</span></h2>
              <p>With our integrated calendar, it’s easy to schedule appointments with your mentor.</p>
              <button data-toggle="collapse" data-target="#art-two" aria-expanded="false" aria-controls="art-one" class="standard-button hollow"><span class="amsi-text cap">Find Out More</span></button>
            </div>
          </div>
          <div class="down-arrow-ind" aria-hidden="true"></div>
          <div class="ex-content collapse" id="art-two">
            <div class="ex-content-bar"></div>
            <div class="ex-content-content">
              <div>
                <div class="ex-point">
                  <img src="/Assets/Images/Mentorship/notebook.svg"
                  ><div>
                    <h2><span class="amsi-text">Convenient scheduler</span></h2>
                    <p>Using a calendar application, mentor–mentee matches can schedule real time meetings.</p>
                  </div>
                </div
                ><div class="ex-point">
                  <img src="/Assets/Images/Mentorship/cal_green.svg"
                  ><div>
                    <h2><span class="amsi-text">Let your mentee know when you’re available</span></h2>
                    <p>Mentors can use the calendar application to let their mentee know when exactly they are available to meet.</p>
                  </div>
                </div
                ><div class="ex-point">
                  <img src="/Assets/Images/Mentorship/coffee.svg"
                  ><div>
                    <h2><span class="amsi-text">Meet when it’s convenient</span></h2>
                    <p>The calendar application lets mentees know exactly when their mentor is available so they can choose a meeting
                      time that is convenient for them!</p>
                  </div>
                </div>
                <div class="up-arrow-ind" aria-hidden="true"></div>
              </div>
              <button data-toggle="collapse" data-target="#art-two" aria-expanded="false" aria-controls="art-one" class="standard-button hollow"><span class="amsi-text cap">View Less</span></button>
            </div>
          </div>
        </article
        ><article class="block">
          <div class="art-content">
            <img src="/Assets/Images/Mentorship/chat_blue.svg">
            <div>
              <h2><span class="amsi-text cap">Chat with<br>Your Mentor</span></h2>
              <p>Gain direct access to your mentor through your own private chat room.</p>
              <button data-toggle="collapse" data-target="#art-three" aria-expanded="false" aria-controls="art-one" class="standard-button hollow"><span class="amsi-text cap">Find Out More</span></button>
            </div>
          </div>
          <div class="down-arrow-ind" aria-hidden="true"></div>
          <div class="ex-content collapse" id="art-three">
            <div class="ex-content-bar"></div>
            <div class="ex-content-content">
              <div>
                <div class="ex-point">
                  <img src="/Assets/Images/Mentorship/chat_blue.svg"
                  ><div>
                    <h2><span class="amsi-text">A private chatroom</span></h2>
                    <p>Each mentor-mentee match has their own private chatroom they can use to text each other in real time.</p>
                  </div>
                </div
                ><div class="ex-point">
                  <img src="/Assets/Images/Mentorship/lock.svg"
                  ><div>
                    <h2><span class="amsi-text">Security features to protect your privacy</span></h2>
                    <p>Your chatroom can only be access by you and your match. To make your information even more secure, we’ve
                      password protected your chats.</p>
                  </div>
                </div
                ><div class="ex-point">
                  <img src="/Assets/Images/Mentorship/imac.svg"
                  ><div>
                    <h2><span class="amsi-text">Forgot to logout? We’ve got you covered</span></h2>
                    <p>As an additional security feature, chatroom sessions are set to automatically logout after a period of inactivity
                      if you forget to.</p>
                  </div>
                </div>
                <div class="up-arrow-ind" aria-hidden="true"></div>
              </div>
              <button data-toggle="collapse" data-target="#art-three" aria-expanded="false" aria-controls="art-one" class="standard-button hollow"><span class="amsi-text cap">View Less</span></button>
            </div>
          </div>
        </article>
      </div>
    </section>

    <section class="block resources">
      <h1><span class="amsi-text cap">Access to <br>Resources and <br>Much More</span></h1>
      <p>Once you join the CommunAbility e-Mentorship Program, you’ll be able to access a variety of tools and resources to help guide you along the way.</p>
      <div>
        <article class="block art-content">
          <img src="/Assets/Images/Mentorship/books_grey.svg">
          <div>
            <h2><span class="amsi-text cap">Educational<br>Resources</span></h2>
            <p>You’ll gain access to a variety of different learning resources and modules.</p>
          </div>
        </article>
        <article class="block art-content">
          <img src="/Assets/Images/Mentorship/search_blue.svg">
          <div>
            <h2><span class="amsi-text cap">Community<br>Search Tools</span></h2>
            <p>Find the answers you’re looking for from your fellow mentors and mentees in the community forum.</p>
          </div>
        </article>
      </div>
    </section>

  <section class="block get-started">
    <img src="/Assets/Images/Profile/header/Activity.svg">
    <h1><span class="amsi-text cap">Ready to Get Started?</span></h1>
    <a ng-click="applyForward()"
        href="" class="apply-button standard-button">
      <img src="/Assets/Images/Mentorship/clipboard.svg">
      <span class="amsi-text cap">Sign Up to Apply</span>
    </a>
  </section>

  <section class="block match">
    <h1><span class="amsi-text cap">Find Your <br>Perfect Match</span></h1>
    <p>Once you apply, we’ll be able to match you with a mentor that best suits your needs, background and education.</p>
  </section>
  <section class="block match-image" aria-hidden="true">
    <div></div>
    <img src="/Assets/Images/Mentorship/android.svg">
  </section>
  <!-- <section class="carouselless"></section> -->
  <!--<section class="block mentor">
    <p class="elipsis" aria-hidden="true"><span>&bull;</span><span>&bull;</span><span>&bull;</span><span>&bull;</span></p>
    <h1><span class="amsi-text cap">Mentors</span></h1>
    <p>Here are just a few of the mentors enrolled in our program. Join the CommunAbility e-Mentorship Program and find the best match for you!</p>
    <ul class="mentors">

    <li ng-repeat="mentor in mentorSample">
      <div class="indicator"></div>
      <div>
        <img class="profile-img" ng-src="{{mentor.picture}}" src="/Assets/Images/Profile/header/User.png">
        <h1><span class="amsi-text cap">{{mentor.firstName}}<br>{{mentor.lastName}}</span></h1>
        <p>{{mentor.currentField}}</p>
        <p>{{mentor.study}}</p>
        <p>+ more info</p>
        <p>{{mentor.shared}}</p>
      </div>
      <div class="indicator">
        <a>
          <span>Find out more</span>
        </a>
  </div>
  </li>

  <!-- <li>
      <div class="indicator"></div>
      <div>
        <img class="profile-img" src="/Assets/Images/Profile/header/User.png">
        <h1><span class="amsi-text cap">John<br>Doe</span></h1>
        <p>Professional Designation</p>
        <p>+ more info</p>
      </div>
      <div class="indicator">
        <a>
          <span>Find out more</span>
          <img src="">
        </a>
      </div>
    </li>
  </section>-->

  <section class="block join-program">
    <h1><span class="amsi-text cap">Join the <br>Mentorship <br>Program</span></h1>
    <p>Experience the power of mentorship – join the CommunAbility e-Mentorship Program and begin an enriching relationship that
      provides opportunities for personal growth and development for all involved.</p>
    <a ng-click="applyForward()" href="" class="apply-button standard-button">
      <img src="/Assets/Images/Mentorship/clipboard.svg">
      <span class="amsi-text cap">Sign Up to Apply</span>
    </a>

  </section>
</div>