<!-- about.html -->

<div class="about-css">
  <header class="block">
    <img title="CommunAbility" class="header-logo" src="/Assets/Images/logos/ca_logo-white.svg"/>
    <p>Developed by the PSDnet project, CommunAbility is a virtual that harnessing the power of online and social media technology to enable students with disabilities and others in post-secondary education to connect in ways seldom experienced in the current environment.</p>
    <p>The name CommunAbility combines terms that reflective our beliefs, objectives, and focus – community, commune, communication, ability, disability.</p>
    <img class="section-icon" src="/Assets/Images/Home/section-icons/About.svg" />
  </header>

  <section>
    <h1><span class="amsi-text">Have a Question or Concern?</span></h1>
    <p>If you need to get in touch with our team, feel free to ontact us using our contact form. You can also visit our FAQs page for more helpful information.</p>
    <a href="#/faqs" class="standard-button"><span class="amsi-text cap">Visit FAQs</span></a>
    <a href="#/contact" class="standard-button"><span class="amsi-text cap">Contact</span></a>
  </section>
  <section>
    <h1><span class="amsi-text">Interested in Providing us with Feedback?</span></h1>
    <p>We value your feedback! You can let us know what you like about or website and what we could do better by sending us a message using our contact form. You can also provide us with formal feedback by participating in research that evaluates the CommunAbility.ca project. Find out more about this research study by visiting our Research Information page.</p>
    <a href="#/research" class="standard-button"><span class="amsi-text cap">Learn More</span></a>
  </section>

  <section>
    <h2><span class="amsi-text">CommunAbility focuses on three main areas:</span></h2>
    <div>
      <article class="block art-content">
        <img src="/Assets/Images/About/beacon.svg">
        <div>
          <h2><span class="amsi-text">Mentorship</span></h2>
          <p>CommunAbility provides post-secondary students with disabilities access to mentorship opportunities through our e-mentoring program and informal peer-to-peer support forums</p>
        </div>
        <a href="#/mentorship" class="standard-button hollow"><span class="amsi-text cap">Learn More</span></a>
      </article
      ><article class="block art-content">
        <img src="/Assets/Images/About/backpack.svg">
        <div>
          <h2><span class="amsi-text">Education</span></h2>
          <p>CommunAbility provides essential information about disability and issues relevant to post-secondary students with disabilities disseminate research findings through our on-line resource Library and learning modules</p>
        </div>
        <a href="#/education" class="standard-button hollow"><span class="amsi-text cap">Learn More</span></a>
      </article
      ><article class="block art-content">
        <img src="/Assets/Images/About/chat_blue.svg">
        <div>
          <h2><span class="amsi-text">Community</span></h2>
          <p>CommunAbility promotes a positive and empowered disability identity through our digital profile and narratives series, peer-to-peer forums, webinars and podcasts</p>
        </div>
        <a href="#/community" class="standard-button hollow"><span class="amsi-text cap">Learn More</span></a>
      </article>
    </div>
  </section>

  <section>
    <h1><span class="amsi-text cap">ABOUT THE PROJECT</span></h1>
    <p>The CommunAbility is a 3-year applied research project initiated in 2015 and supported by the Social Science and Humanities Research Council of Canada.</p>
    <p>The CommunAbility project envisions diverse and vibrant communities in which all members have opportunities for personal and social development such that they are enabled to fully participate in Canadian society, including the social and economic aspects.</p>
    <p>Our aim is to further the work underway in post-secondary education to remove barriers and create opportunities that promote the success of students with disabilities.</p>
    <a ng-href="documents/About_CommunAbility.pdf" target="_blank" class="standard-button"><span class="amsi-text cap">Learn More</span></a>
  </section>

  <section class="variegated about">
    <h1><span class="amsi-text cap">ABOUT THE TEAM</span></h1>
    <div class="team-col">
      <h2><span class="amsi-text">Project Partners</span></h2>
      <p>This project is designed and developed by a robust group of researchers, web development experts and community partners. The project, funded by the Social Sciences and Humanities Research Council, is led by George Brown College in partnership with Nipissing University, the University of Ontario Institute of Technology, York University, and the National Educational Association for Disabled Students (NEADS).</p>
    </div
    ><div class="team-col">
      <h2><span class="amsi-text">The Research Team</span></h2>
      <p>Brought together by a passion for creating and supporting truly accessible post-secondary education, the Communability team is made up of researchers, educators, and community partners with broad-ranging experience in this area. Our goal in creating a virtual space for communicating and connecting, learning, and mentorship for post-secondary students with disabilities is to promote positive approaches to help you attain your educational goals while optimizing opportunities for support and community building.</p>
      <p class="center">Research Team Members Include:</p>
      <ul class="small-left">
        <li>Charles Anyinam, RN PhD(c), Professor, George Brown College</li>
        <li>Sue Coffey, RN PhD, Associate Professor, UOIT</li>
        <li>Rick Vanderlee, RN PhD,  Dean, Faculty of Applied and Professional Studies</li>
        <li>Hilde Zitzelsberger RN, PhD, Assistant Professor, UOIT</li>
        <li>Celina Da Silva, RN, PhD, Associate Professor, York University</li>
        <li>Frank Smith, National Coordinator, National Educational Association of Disabled Students (NEADS)</li>
        <li>Francine Odette, Professor, George Brown College</li>
        <li>Chelsea Mohler, Research Consultant at National Educational Association of Disabled Students</li>
        <li>Jason Thompson, Web Developer and Technical Support Analyst</li>
      </ul>
    </div
    ><div class="team-col">
      <h2><span class="amsi-text">The Website Development Team</span></h2>
      <p>George Brown College is home to one of the premier educational and innovative centers for gaming and web development in Canada. The website development team for the CommunAbility project is made up of experts in the areas of accessible website development, social media and gaming.</p>
      <!-- <h2>Website Team Members Include:</h2> -->
      <!-- <p></p> -->
    </div>
  </div>
</div>