<!-- faqs -->
<div class="faqs-css">
	<header>
		<h1><span class="amsi-text cap">CommunAbility FAQs</span></h1>
	</header>

	<section>
	  <h2><span class="amsi-text">FAQs are Organized According to the Following Sections</span></h2>
	  <div>
	    <article class="block art-content">
	      <img src="/Assets/Images/About/flag.svg">
	      <div>
	        <h2><span class="amsi-text">CommunAbility</span></h2>
	        <p>[CommunAbility FAQs section description]</p>
	      </div>
	      <a href="" ng-click="gotoAnchor('communability')" class="standard-button hollow"><span class="amsi-text cap">See FAQs</span></a>
	    </article
	    ><article class="block art-content">
	      <img src="/Assets/Images/About/beacon.svg">
	      <div>
	        <h2><span class="amsi-text">Mentoring and Mentorship Program</span></h2>
	        <p>[Mentorship FAQs section description]</p>
	      </div>
	      <a href="" ng-click="gotoAnchor('mentorship')" class="standard-button hollow"><span class="amsi-text cap">See FAQs</span></a>
	    </article
	    ><article class="block art-content">
	      <img src="/Assets/Images/About/settings.svg">
	      <div>
	        <h2><span class="amsi-text">Managing My Account</span></h2>
	        <p>[Account FAQs section description]</p>
	      </div>
	      <a href="" ng-click="gotoAnchor('account-management')" class="standard-button hollow"><span class="amsi-text cap">See FAQs</span></a>
	    </article>
	  </div>
	</section>

	<section id="communability">
		<div class="faq-header">
			<h1><span class="amsi-text cap">CommunAbility</span></h1>
		</div>

		<ul class="faq-body">
			<li class="faq-item">
				<button type="button" id="faq-trigger-0-0" data-toggle="collapse" data-target="#faq-content-0-0, .collapse.in" aria-expanded="false" aria-controls="faq-content-0-0" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>What is the PSDNet project?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-0-0"><div>
					<p>PSDNet stands for Post-Secondary Students with Disability Network. The PSDNet project is an applied research project funded by the Social Science and Humanities Research Council (SSHRC) of Canada. The primary aim of the PSDNet project is to further the work underway in post-secondary education to remove barriers and create opportunities that promote the success of students with disabilities. <a href="#/about">Click here to learn more about the PSDNet Project</a>.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" data-toggle="collapse" data-target="#faq-content-0-1, .collapse.in" aria-expanded="false" aria-controls="faq-content-0-1" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>What is CommunAbility?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-0-1"><div>
					<p>CommunAbility is the name of our website! The name CommunAbility combines terms that reflect the PSDNet project’s objectives and focus – community, commune, communication, ability, and disability. <a href="#/about">Click here to learn more about the PSDNet Project</a>.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-0-2" data-toggle="collapse" data-target="#faq-content-0-2, .collapse.in" aria-expanded="false" aria-controls="faq-content-0-2" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Who operates the CommunAbility website?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-0-2"><div>
					<p>CommunAbility is created and operated by a team of researchers from George Brown College, University of Ontario Institute of Technology, Nipissing University, York University, and the National Educational Association of Disabled Students (NEADS). The website is part of a project funded through a grant from the Social Science and Humanities Research Council. Our research team is diverse, consisting of members who have the lived experience of disability and those who work in allyship with students and graduates with disabilities. <a href="#/about">Click here to learn more about the PSDNet Project</a>.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-0-3" data-toggle="collapse" data-target="#faq-content-0-3, .collapse.in" aria-expanded="false" aria-controls="faq-content-0-3" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Is there a research component to the PSDNet project? What is the research about?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-0-3"><div>
					<p>Yes, there is a research component to the PSDNet project. We offer users of the website and mentorship program an opportunity to participate in research that will help us better understand the use of social media and our website by students with disabilities. The research also will examine the experiences of the participants in our e-mentorship program. Click her to learn more about research.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-0-4" data-toggle="collapse" data-target="#faq-content-0-4, .collapse.in" aria-expanded="false" aria-controls="faq-content-0-4" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Does the PSDNet project have ethics approval to conduct this research?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-0-4"><div>
					<p>Yes. The research been reviewed by the ethics boards of the post-secondary institutions affiliated with research team members - George Brown College, University of Ontario Institute of Technology, Nipissing University, and York University. The research also has the support of the Board of Directors of the National Educational Association of Disabled Students (NEADS).</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-0-5" data-toggle="collapse" data-target="#faq-content-0-5, .collapse.in" aria-expanded="false" aria-controls="faq-content-0-5" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Do I have to participate in research to use the website or the e-mentorship program to get support?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-0-5"><div>
					<p>Participating in any research is 100% voluntary. You can use the website and any services it offers without having to participant in research.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-0-6" data-toggle="collapse" data-target="#faq-content-0-6, .collapse.in" aria-expanded="false" aria-controls="faq-content-0-6" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>How do I contact someone at CommunAbility?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-0-6"><div>
					<p>You can send us a message on our Contact Us page. On this page, you willd information on how to contact the PSDNet project team. You can also provide feedback by participating in the research that evaluates your experience using the website, such as its features and services. Go to our Give Us Feedback page for more details about the study and how you can participate.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-0-7" data-toggle="collapse" data-target="#faq-content-0-7, .collapse.in" aria-expanded="false" aria-controls="faq-content-0-7" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Who can I contact if I have a technical problem with my account?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-0-7"><div>
					<p>For technical problems not addressed by the FAQs, you can get help by submitting a request using our contact form. <a href="#/contact">Click here to access the contact form</a>.</p>
				</div></div>
			</li>
		</uL>
	</section>

	<section id="mentorship">
		<div class="faq-header">
			<h1><span class="amsi-text cap">Mentoring and Mentorship Program</span></h1>
		</div>

		<ul class="faq-body">
			<li class="faq-item">
				<button type="button" id="faq-trigger-1-0" data-toggle="collapse" data-target="#faq-content-1-0, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-0" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>How does the mentorship program work?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-0"><div>
					<p>Our mentorship program is a 16-week program that connects mentees and mentors. Mentees will set mutual goals and work towards them with the support of a mentor. <a href="#/Mentorship">Click here to learn more about our mentorship program</a>.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-1" data-toggle="collapse" data-target="#faq-content-1-1, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-1" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>What are the benefits of being a mentor in the CommunAbility mentorship program?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-1"><div>
					<p>As a mentor, you will:</p>
					<ul>
						<li><p>Feel good about supporting the success of a student with disabilities</p></li>
						<li><p>Give back to your community</p></li>
						<li><p>Develop and build upon skills transferable to many professional and personal situations</p></li>
					</ul>
					<p>Our mentoring learning module provides more information about the benefits of being a mentor and mentoring relationships. <a href="#/education/modules">Click here to access the mentoring learning module</a>.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-2" data-toggle="collapse" data-target="#faq-content-1-2, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-2" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>What is the role of a mentor in the CommunAbility mentorship program?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-2"><div>
					<p>A mentor in the CommunAbility Mentorship Program supports a post-secondary student with a disability by:</p>
					<ul>
						<li><p>Being a positive role model</p></li>
						<li><p>Sharing your life, academic life, and professional experiences</p></li>
						<li><p>Listening with an opend</p></li>
						<li><p>Exploring career paths and helping to clarify the mentee's goals</p></li>
						<li><p>Communicating regularly</p></li>
					</ul>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-3" data-toggle="collapse" data-target="#faq-content-1-3, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-3" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>What’s the benefit of being a mentee in the CommunAbility mentorship program?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-3"><div>
					<p>In the CommunAbility mentorship program, we match post-secondary students with disabilities with graduates with disabilities with whom they share commonalities. Being a mentee in this program offers the opportunity for personal growth and development and to gain support from a mentor with a wealth of knowledge and experience.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-4" data-toggle="collapse" data-target="#faq-content-1-4, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-4" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>How do you match mentors and mentees?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-4"><div>
					<p>We match mentors and mentees using a matching algorithm specifically designed for the program. We use the preferences that mentors and mentees voluntarily provided to create a custom matching score for each possible match. Mentees then receive a list of the top matches that are ready to mentor them. Once a mentee makes a selection, the match is complete.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-5" data-toggle="collapse" data-target="#faq-content-1-5, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-5" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>How much does it cost to join the CommunAbility e-mentorship program?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-5"><div>
					<p>Nothing! The program is <strong>FREE</strong> to all college and university students who self-identify with a disability.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-6" data-toggle="collapse" data-target="#faq-content-1-6, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-6" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Is the CommunAbility e-mentorship program restricted to certain people?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-6"><div>
					<p>The CommunAbility e-mentorship program provides mentorship opportunities for students with disabilities enrolled in post-secondary education Ontario.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-7" data-toggle="collapse" data-target="#faq-content-1-7, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-7" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Is there aimum age to participate in the CommunAbility e-mentorship program?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-7"><div>
					<p>Yes. Both mentors and mentees must be 18 years or older to participate in the mentorship program.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-8" data-toggle="collapse" data-target="#faq-content-1-8, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-8" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>If I attend school in another province or territory can I join the CommunAbility e-mentorship program?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-8"><div>
					<p>Currently we are serving students with disabilities enrolled in post-secondary education in Ontario.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-9" data-toggle="collapse" data-target="#faq-content-1-9, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-9" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Why do you collect so much personal information?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-9"><div>
					<p>We collect information so that we can generate the best match possible using our matching algorithm. We also collect certain information such as demographics so that we can describe the general characteristics of our participants to the public, funding agencies, and members of the post-secondary education community. We may also use the information we collect to make improvements to the website and services we offer. For more information about the information we collect and how it is used, <a href="#/privacy-policy">click here to access our Privacy Policy</a>.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-10" data-toggle="collapse" data-target="#faq-content-1-10, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-10" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Is any information private?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-10"><div>
					<p>Yes. For more information, <a href="#/privacy-policy">click here to access our Privacy Policy</a>.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-11" data-toggle="collapse" data-target="#faq-content-1-11, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-11" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Is my mentorship private?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-11"><div>
					<p>Yes. For more information <a href="#/privacy-policy">click here to access our Privacy Policy</a>.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-12" data-toggle="collapse" data-target="#faq-content-1-12, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-12" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Does CommunAbility pay mentors?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-12"><div>
					<p>No. Our mentors are volunteers. They are graduates of post-secondary education programs with disabilities. Their time is given freely to support students with disabilities to achieve their goals.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-13" data-toggle="collapse" data-target="#faq-content-1-13, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-13" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Is training mandatory and how long does it take?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-13"><div>
					<p>Yes. We require both mentors and mentee to complete online training before they begin their mentorship relationship. Online training</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-14" data-toggle="collapse" data-target="#faq-content-1-14, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-14" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>How much time is required to participate in the CommunAbility mentorship program?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-14"><div>
					<p>Before mentors and mentees are matched, they spend about 1 to 1.5 hours completing online training modules. Once matched, we encourage participants to spend about 30utes every two weeks over a 16-week period (8 sessions in total) connecting through the program’s online chat app.</p>
					<p>Some mentee and mentor matches may need to spend a little more time in the early phases of the program so that they can establish their relationships. Additionally, mentee- mentor matches may decide together to meet online more often than the recommended biweekly schedule.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-15" data-toggle="collapse" data-target="#faq-content-1-15, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-15" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>How will I communicate with my mentor/mentee?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-15"><div>
					<p>Mentor-mentee matches communicate online using our built-in chat application. It takes 3 easy steps:</p>
					<ol>
						<li><p>Sign into your account and schedule a date and time to chat using the calendar application</p></li>
						<li><p>On the date and time of your meeting, sign-in to your account and click on the Chat icon</p></li>
						<li><p>Enter your password when prompted and chat away!</p></li>
					</ol>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-16" data-toggle="collapse" data-target="#faq-content-1-16, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-16" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Do I have to participate in the research to use the CommunAbility mentorship program?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-16"><div>
					<p>No. Participating in research is 100% voluntary. Once you are approved for the program, you will receive an invitation to participate in the evaluation of the program. If you decide not to participant in the research, just ignore the invitation and continue on in the program.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-17" data-toggle="collapse" data-target="#faq-content-1-17, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-17" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Why do I need to verify my application for the CommunAbility mentorship program through email?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-17"><div>
					<p>We use an account verification step in keeping with best practices for web applications that store personal data. Your privacy and security are very important to us, and this step helps us to ensure that your account will be under your control.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-18" data-toggle="collapse" data-target="#faq-content-1-18, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-18" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>What of support will mentors receive during the mentorship program?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-18"><div>
					<p>Prior to the start of the mentorship relationships, online training is provided to learn about mentoring relationships, the CommunAbility mentorship program, and roles and responsibilities of a mentee. The online training program also reviews the policies and procedures of the program. Additionally, mentors have access to the program handbook and other resources on their profile page.</p>
					<p>At any time, mentors can also obtain direct assistance by contacting a project team member through email or telephone with questions and to get help problem-solving.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-19" data-toggle="collapse" data-target="#faq-content-1-19, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-19" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Whatof support will mentees receive during the mentorship program?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-19"><div>
					<p>Prior to the start of the mentorship relationships, online training is provided to learn about mentoring relationships, the CommunAbility mentorship program, and roles and responsibilities of a mentee. The online training program also reviews the policies and procedures of the program. Additionally, mentees have access to the program handbook and other resources on their profile page.</p>
					<p>At any time, mentees can also obtain direct assistance by contacting a project team member through email or telephone with questions and to get help problem-solving.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-1-20" data-toggle="collapse" data-target="#faq-content-1-20, .collapse.in" aria-expanded="false" aria-controls="faq-content-1-20" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>What do I do if I no longer want to be a part of the mentorship program?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-1-20"><div>
					<p>You can stop using the service at any time. We ask that you contact us and let us know before ending your relationship with your mentor or mentee. <a href="#/mentorship-program-agreement">Click here to find out more about the expectations of participating in the mentorship program</a>.</p>
				</div></div>
			</li>
		</ul>
	</section>

	<section id="account-management">
		<div class="faq-header">
			<h1><span class="amsi-text cap">Managing my Account</span></h1>
		</div>

		<ul class="faq-body">
			<li class="faq-item">
				<button type="button" id="faq-trigger-2-0" data-toggle="collapse" data-target="#faq-content-2-0, .collapse.in" aria-expanded="false" aria-controls="faq-content-2-0" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>How is my information protected?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-2-0"><div>
					<p>We take your privacy very serious and we’ve built in a number of features to make sure your information is secure and private. <a href="#/privacy-policy">Check out the Program's privacy policy to learn more</a>.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-2-1" data-toggle="collapse" data-target="#faq-content-2-1, .collapse.in" aria-expanded="false" aria-controls="faq-content-2-1" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>How do I delete my account?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-2-1"><div>
					<p>Deleting your account with CommunAbility means you will no longer have access to the member areas and any personalized content relating to the features and services of thesite. Content including mentorship program profiles, timelines and chats will all be deleted from our server. We cannot restore your account once deleted.</p>
					<p>To delete your account:</p>
					<ol>
						<li><p>Login to your account and click on thek to access your settings</p></li>
						<li><p>From the list of setting options, select <strong>Delete my Account</strong> and then follow the instructions.</p></li>
						<li><p>Once confirmed all associated data with your account will be deleted in x days.<br>If you change yourd during that time, simply login using your username and password information to reactivate your account again.</p></li>
					</ol>
					<p>For more information about how your information is handle please review our <a href="#/privacy-policy">Privacy Policy</a></p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-2-2" data-toggle="collapse" data-target="#faq-content-2-2, .collapse.in" aria-expanded="false" aria-controls="faq-content-2-2" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>Why do I need to verify my CommunAbility account?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-2-2"><div>
					<p>We use an account verification step in keeping with best practices for web applications that store personal data. Your privacy and security are very important to us, and this step helps us to ensure that your account is and stays under your control.</p>
				</div></div>
			</li>
			<hr>

			<li class="faq-item">
				<button type="button" id="faq-trigger-2-3" data-toggle="collapse" data-target="#faq-content-2-3, .collapse.in" aria-expanded="false" aria-controls="faq-content-2-3" data-faq-open="false" ng-click="toggleFaq($event)" class="faq-trigger">
					<div>
						<img ng-src="{{faqClosedSrc}}">
						<h2>I can’t an answer to my question?</h2>
					</div>
				</button>
				<div class="faq-content collapse" id="faq-content-2-3"><div>
					<p>Write to us and ask us. You can also check out our Community forum section. Your question may have already been answered in a thread. Note: you must be a registered member to be able to access the CommunAbility Forums.</p>
				</div></div>
			</li>
		</ul>
	</section>
</div>




