<!-- about.html -->
<div class="legal-css research-css">
	<header class="block">
		<h1><span class="amsi-text cap">CommunAbility Project<br>Research Information</span></h1>
	</header>

	<div class="terms-content variegated">
		<h2>Last updated: February 17, 2017</h2>
		<p class="small-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sodales leo, finibus laoreet enim. Morbi vel augue tempor, hendrerit nulla consectetur, porttitor turpis. Aenean pulvinar, ex sit amet malesuada tincidunt, dolor massa lobortis arcu, sed mollis elit neque vel tortor. Vestibulum in est et turpis bibendum pretium.</p>
	</div>
</div>
