<div ui-view>
  <div class="community-css">
    <header class="block">
      <h1><span class="amsi-text cap">Community</span></h1>
      <p>Our online community is a space where you can find support and make helpful connections with students with disabilities and other comunit members. Become a member and join the conversation to build each other up (not down) through sharing experiences and stories.</p>
      <img src="/Assets/Images/Home/section-icons/Community.svg">
    </header>

    <section class="block">
      <img src="/Assets/Images/Community/chat.svg">
      <div>
        <h1><span class="amsi-text cap">Forums</span></h1>
        <p>Looking to connect with others with disabilities? CommunAbility's forums bring postsecondary education students with
          disabilities together to share ideas, discuss common experiences, discover resources and solutions and get support
          and advice.</p>
        <a class="standard-button" ui-sref="community.forums"><span class="amsi-text cap">Go to Forums</span></a>
      </div>
    </section>

    <section class="block">
      <img src="/Assets/Images/Community/clap.svg">
      <div>
        <h1><span class="amsi-text cap">Digital<br>Narratives</span></h1>
        <p>Digital narratives are a form of personal storytelling that build community! Share in the digital narratives about the educational journeys and lessons learned by post-secondary education students and graduates with disabilities.</p>
        <a class="standard-button" href="#/community/narratives"><span class="amsi-text cap">View Narratives</span></a>
      </div>
    </section>

    <section class="block">
      <img src="/Assets/Images/Community/flag.svg">
      <div>
        <h1><span class="amsi-text cap">Inspirational<br>Profiles</span></h1>
        <p>Inspiration is a key to success whether you want to achieve educational or life success! Check out these profiles of students and graduates with disabilities that we hope will ignite you.</p>
        <a class="standard-button" href="#/community/profiles"><span class="amsi-text cap">Read Profiles</span></a>
      </div>
    </section>
  </div>
</div>