<p>We will assume good faith when dealing with users who violate our guidelines and rules. Moderators or administrators have the final say in interpreting and enforcing these guidelines and rules. Violations of our guidelines and rules may result in posts being modified or removed entirely and users being banned from the forums.</p>

<p><strong>Reporting a suspected violation:</strong> If you suspect that someone has broken a rule or behaves in a questionable manner on any of the forums, alert the moderator or administrator by clicking the “Report” button in the option menu for the member’s post. Don’t try to deal with it yourself by responding to the member. As soon as your message is submitted, the moderator and administrator will be notified of the report by email. Please note that the forum post will only be edited or removed if deemed to be in violation of the rules and guidelines and at Communability.ca’s sole discretion.</p>

<h2>General Guidelines and Rules</h2>
<ul>
	<li>Posts are to be made in the relevant forum. If you would like to suggest a forum area, send us a request using our Contact Us form.</li>
	<li>Members are asked to post in English. Presently, CommunAbility does not support language translation.</li>
	<li>Members are encouraged to keep accessibility in mind when posting to forums.  Posts should be consistent with everyday language. Avoid excessive use of professional jargon, texting language, emoticons, small or coloured text, SHOUTING, and punctuations.</li>
</ul>

<h2>Spamming and Self-promoting in forums</h2>
<ul>
	<li>Posting spam is not permitted. We define spam as unsolicited advertisement for goods, services, and/or other web sites, or posts with little or completely unrelated content.</li>
	<li>Do not spam forums with links to your business website or products or try to self-promote your website, business, or other forums.</li>
	<li>Spam posts will be removed.  If a post contains a link(s) considered to be spam, the link(s) will be removed. Users repeatedly posting spam will be warned and if the behaviour persists, the user will be banned from the forum.</li>
</ul>

<h2>Images, other media, and materials</h2>
<ul>
	<li>Do not provide or ask for information on how to illegally obtain materials. Inappropriate images or media will be removed.</li>
</ul>

<h2>Sensitive and personal information</h2>
<ul>
	<li>Do not post any personal or sensitive information you wish to keep private. Your postings are not private and can be searched by users of the website.</li>
</ul>

<h2>Links</h2>
<ul>
	<li>Unless you are the copyright holder or have permission from the copyright holder, link to content rather than posting it in its entirety.</li>
</ul>

<h2>Conduct and Language</h2>
<ul>
	<li>Our forum is intended to build community. All posts should be professional and courteous.</li>
	<li>You have every right to disagree with your fellow community members; however, you are not free to be offensive, taunt, provoke, degrade, insult, or otherwise attack other members and the CommunAbility Forum.</li>
	<li>Do not use obscene, lewd, filthy, sexually charged, or violent language.</li>
	<li>Hate speech of any kind towards any group is not acceptable and will be deleted.</li>
</ul>
