<!-- narratives -->
<div class="comnarratives-css">
  <header class="block">
    <h1><span class="amsi-text cap">Digital Narratives</span></h1>
    <p>We invite you to share in digital narratives of post-secondary education students and graduates with disabilities about their educational journeys. Digital narratives are short reflections rooted in life history and expressed through digital media- video, music, audio photography and/or text. Individually, these stories serve as powerful points of personal connection. Collectively, they offer a means to building community. It is the hope of participants that telling their stories enables students with disabilities to see shared experiences and gain common meaning.</p>
    <p>The digital narratives featured are based on interviews conducted with post-secondary education students and graduates with disabilities across the province of Ontario. They were filmed and produced by film director Wendy Rowland.</p>
  </header>


  <main class="profile-card-main-container" id="profile-card-main" ng-show="selected >= 0">
    <div class="profile-card-main">
      <div class="profile-card-color-bar" style="background-color: {{colorHighlights[selected%colorHighlights.length]}}"></div>

      <div class="profile-card-main-content">
        <video controls="controls">
          <source ng-if="selected >= 0" src="{{data[selected].videoPath}}"></source>
        </video>
        <!-- <img ng-src="{{data[selected].imgPath}}"> -->

        <h1 class="profile-card-name"><span class="amsi-text cap">{{data[selected].name}}</span></h1>

        <p ng-if="typeof(data[selected].bio) != 'undefined' && data[selected].bio != ''">{{data[selected].bio}}</p>

        <p ng-if="typeof(data[selected].learnLinks) != 'undefined' && data[selected].learnLinks > 0">Learn more about {{data[selected].name}} at:</p>
        <ul ng-if="typeof(data[selected].learnLinks) != 'undefined' && data[selected].learnLinks > 0">
          <li ng-repeat="link in data[selected].learnLinks track by $index"><a ng-href="{{link}}" target="_blank">{{link}}</a></li>
        </ul>

        <!-- <button class="profile-card-action" ng-click="closeNarrative()">Close Profile</button> -->
      </div>

      <div class="profile-card-color-bar" style="background-color: {{colorHighlights[selected%colorHighlights.length]}}"></div>
    </div>
  </main>


  <nav class="profile-card-nav">
    <ul class="profile-card-preview-container">
      <li class="profile-card-preview" ng-repeat="narrative in data track by $index" id="{{data[$index].id}}">
        <div class="profile-card-color-bar" style="background-color: {{colorHighlights[$index%colorHighlights.length]}}"></div>

        <div class="profile-card-preview-content">
          <div class="profile-card-img">
            <img ng-src="{{narrative.imgPath}}">
          </div>
          <div class="profile-card-preview-inner">
            <h1 class="profile-card-name"><span class="amsi-text cap">{{narrative.name}}</span></h1>
            <p class="profile-card-title">{{narrative.title}}</p>
          </div>
          <button class="profile-card-action" ng-click="loadNarrative($index)">
            <span ng-show="selected != $index">Click Here to view Narrative</span>
            <span ng-show="selected == $index">Click Here close Video</span>
          </button>
        </div>

        <div class="profile-card-color-bar" style="background-color: {{colorHighlights[$index%colorHighlights.length]}}"></div>
      </li>
    </ul>
  </nav>


  <footer class="block">
    <h2><span class="amsi-text">Films Director and Editor Wendy Rowland</span></h2>
    <p class="small-left">Wendy Rowland is an award-winning director and editor whose documentary films have received critical acclaim. She has a special interest in women’s health and most recently in documenting patient experience through illness and at end of life.  Wendy’s credits include: Living Forever (CBC, The Nature of Things), Bloodlines (CTV), Jailhouse Romance (CBC), Raising Rover (CTV), The Prom (TVO) and Packing Heat (NFB). For the past few years she has been creating innovative web-docs for the Canadian Partnership Against Cancer, the Canadian Virtual Hospice, St. Michael’s Hospital, Ovarian Cancer Canada and the Heart & Stroke Foundation. Wendy is an alumnus of the NFB’s prestigious Fast Forward program, received her MA in Cinema Studies from NYU and her BAH from Queen’s University, Kingston, Ontario.</p>
    <p>Contact info:<br>
    Wendy Rowland Productions Inc.<br>
    wendydirector@me.com<br>
    647-235-4701</p>
  </footer>
</div>
