<div class="legal-css program-terms-css">
  <header class="block">
    <h1><span class="amsi-text cap">CommunAbility Mentorship<br>Program User Agreement</span></h1>
    <!-- <img src="/Assets/Images/Home/section-icons/Community.svg"> -->
  </header>

  <div class="terms-content variegated">
    <h2>Last updated: February 17, 2017</h2>
    <p class="small-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sodales leo, finibus laoreet enim. Morbi vel augue tempor, hendrerit nulla consectetur, porttitor turpis. Aenean pulvinar, ex sit amet malesuada tincidunt, dolor massa lobortis arcu, sed mollis elit neque vel tortor. Vestibulum in est et turpis bibendum pretium.</p>
    <p class="small-left">Mauris sit amet sollicitudin orci. Phasellus sagittis scelerisque orci, sed convallis velit ornare et. Suspendisse a erat elit. Mauris lectus ligula, tincidunt quis enim sodales, laoreet eleifend enim. Fusce hendrerit nulla purus, porta semper quam eleifend et.</p>
    <h2><span class="amsi-text cap">Participating in the Program</span></h2>
    <p class="small-left">“Proin id” congue enim. Phasellus eget tincidunt nisl, et volutpat est. Ut at turpis vel ante dapibus ultricies. Phasellus sem lectus, faucibus non massa non, varius commodo mauris. Suspendisse porttitor laoreet imperdiet. Integer elementum nibh vel ligula facilisis, at volutpat risus tempor. Suspendisse feugiat erat nec venenatis consequat. Phasellus nec mauris finibus, tempus turpis vel, luctus tellus.</p>
    <p class="small-left">“Nunc laoreet” nibh eu orci cursus, venenatis gravida arcu vulputate. Nunc vel turpis augue. Duis dui augue, semper sed sagittis eget, varius nec odio. Morbi justo neque, ultrices sit amet mattis ut, tempus sit amet magna. Fusce eget magna at neque iaculis congue.</p>
    <h2><span class="amsi-text cap">Access to Service</span></h2>
    <p class="small-left">“Duis ac vestibulum” tellus, eu fermentum nisl. Nulla mollis venenatis pretium. Sed bibendum dolor velit, ut euismod nisl congue sed. In a dolor ac neque sollicitudin aliquam. Praesent et nibh in metus posuere venenatis sed vel arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus et erat commodo tempor.</p>
    <h2><span class="amsi-text cap">Use of Service</span></h2>
    <p class="small-left">“Vivamus tellus mi” maximus nec auctor eu, pharetra quis orci. Sed varius, ligula ac euismod tempor, odio mauris eleifend diam, ultricies porta velit dolor non turpis. Morbi sit amet neque nec sem eleifend consequat. Phasellus dolor quam, dapibus ac dignissim et, porta nec diam.</p>
    <ol class="small-left">
      <li><p>Sed ornare turpis id libero rutrum, a varius quam vulputate. Aliquam feugiat tristique neque eget mollis. In pharetra, ante volutpat lacinia scelerisque, ipsum tortor sollicitudin metus, i</p></li>
      <li><p>n venenatis ipsum mauris eu ipsum. Nunc ut sapien at tortor venenatis fermentum. In hendrerit accumsan suscipit. Suspendisse ut facilisis turpis.</p></li>
      <li><p>Sed nec mauris et eros viverra feugiat. Etiam ornare blandit leo id accumsan. Nam vitae gravida augue, nec lobortis neque.</p></li>
    </ol>
    <h2><span class="amsi-text cap">Disclaimer of Liability</span></h2>
    <p class="small-left">Pellentesque nec porta libero. Aenean elementum elementum libero id maximus. Curabitur ac lacinia sem. Maecenas nec vulputate mi. Nam molestie magna eget mauris hendrerit, vitae pharetra enim bibendum. Aliquam ut dolor est. Praesent ut placerat lacus. Duis ullamcorper tellus vel finibus hendrerit.</p>
    <ol class="small-left">
      <li><p>Sed ornare turpis id libero rutrum, a varius quam vulputate. Aliquam feugiat tristique neque eget mollis. In pharetra, ante volutpat lacinia scelerisque, ipsum tortor sollicitudin metus, i</p></li>
      <li><p>n venenatis ipsum mauris eu ipsum. Nunc ut sapien at tortor venenatis fermentum. In hendrerit accumsan suscipit. Suspendisse ut facilisis turpis.</p></li>
      <li>
        <p>Sed nec mauris et eros viverra feugiat. Etiam ornare blandit leo id accumsan. Nam vitae gravida augue, nec lobortis neque.</p>
        <ol class="small-left">
          <li><p>Quisque condimentum, erat eget blandit ornare, odio urna malesuada leo, quis semper odio metus eget eros. Sed urna nulla, porttitor id velit eget, auctor pellentesque ex. Nunc imperdiet pellentesque molestie.</p></li>
          <li><p>Donec id metus quis magna semper pulvinar. Maecenas felis turpis, placerat at ante nec, placerat pellentesque lacus.</p></li>
        </ol>
      </li>
    </ol>
    <h2><span class="amsi-text cap">Copyright Notice</span></h2>
    <p class="small-left">Proin consequat tellus mollis libero scelerisque, laoreet suscipit eros auctor. Integer suscipit ac ligula sodales ullamcorper. Vivamus vitae auctor felis, at efficitur urna. Donec malesuada risus in tempus pulvinar. Nunc rhoncus justo sed sem mattis, ac sodales quam luctus. Etiam efficitur lorem ac eros tincidunt posuere. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p class="small-left">Vestibulum sollicitudin magna non tristique volutpat. Donec tincidunt imperdiet condimentum. Mauris dictum tincidunt ipsum convallis rhoncus. Duis dapibus, diam non convallis aliquam, nulla risus suscipit urna, vel vestibulum metus nisi et est. Sed justo orci, rutrum sit amet metus ac, convallis tempor erat. Nullam varius eu tellus id fringilla.</p>
    <h2><span class="amsi-text cap">Governing Law</span></h2>
    <p class="small-left">Mauris dictum mi non dolor auctor, vel molestie lectus dapibus. Praesent efficitur nulla a nibh rhoncus mollis non eu elit. Mauris quis pulvinar sapien, a finibus ante. Nunc sit amet turpis eu purus dignissim auctor. Nunc dictum nulla in lorem tempus ultricies. Aliquam erat volutpat. Donec dictum orci nec orci sagittis efficitur.</p>
    <h2><span class="amsi-text cap">Changes to This Privacy Policy</span></h2>
    <p class="small-left">Sed a hendrerit magna, tincidunt convallis purus. Mauris vitae gravida dui. Praesent at neque quis eros laoreet finibus vel at sapien. Fusce porta orci vitae massa tristique, quis pharetra justo cursus. Aenean orci justo, commodo vitae euismod vitae, elementum eget lectus. Cras a dapibus justo. Vivamus varius, velit eu imperdiet congue, urna purus tempus quam, at maximus dolor velit sit amet dui. In aliquam a mi quis fringilla. Aliquam ultrices sed nibh non suscipit. Proin mauris leo, euismod a lorem quis, luctus tincidunt orci. Vestibulum efficitur ac neque quis efficitur.</p>
    <h2><span class="amsi-text cap">Contact Us</span></h2>
    <p class="small-left">Vivamus a placerat odio, in volutpat leo. Donec eu ultricies sem, quis cursus arcu. Morbi dignissim lacinia dui sed dapibus. Maecenas ullamcorper dui vitae malesuada hendrerit. Maecenas laoreet commodo ligula, bibendum scelerisque quam tincidunt non. Mauris sapien velit, auctor viverra velit feugiat, rhoncus posuere turpis. Donec et metus ac sapien convallis vehicula aliquam eu enim.</p>
  </div>
</div>
